.suggested {
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
    border: 3px solid white;
    font-size: 10pt;
}
.suggested div {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
.suggested div:nth-child(odd) {
    background-color: #F0F0F0;
    color: black;
}
.suggested div:nth-child(even) {
    background-color: #D2D2D2;
    color: black;
}
#header {
    display: flex;
    justify-content: space-around;
}
.suggested:hover {
    cursor: pointer;
    color: purple;
    border: 4px solid black;
    background-color: black;
}
.suggested:active {
    border: 4px solid lime;
}
.choice {
    display: flex;
    justify-content: space-around;
    padding-bottom: 0;
    align-items: center;
    border: 1px solid black;
}